{% extends "pages/base.html" %}
{% block title %} trang chủ {% endblock %}
{% block content %}

   {% load static %}
<!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login</h2>
                        <form action="" method="POST">
                         {% csrf_token %} <!-- bao mật-->
                        
                            <div class="group-input">  <!--login.html-->
                                <label type="text" value="username" for="username"></label>{{form.username}}
                                
                            </div>
                            <div class="group-input">
                                <label type="password" value="password" for="password"></label>{{form.password}}
                                
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <label for="save-pass">
                                        Save Password
                                        <input type="checkbox" id="save-pass">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a href="#" class="forget-pass">Forget your Password</a>
                                </div>
                            </div>
                            <input type="hidden" name="next" value="/">
                            <button type="submit" class="Đăng nhập" value="login">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a href="{% url 'register'%}" class="or-login">Or Create An Account</a>
                        </div>
                        {% for messse in messages %}
                            <p>{{messe}}<p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->
{% endblock %}